<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <title>Login</title>

</head>

<body>
    <section style="height: 613px;">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Login Here</h2>

                                <form>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="form3Example3cg"
                                            class="form-control form-control-lg input1" />
                                        <label class="form-label" for="form3Example3cg">Your Email</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form3Example4cdg"
                                            class="form-control form-control-lg  input2" />
                                        <label class="form-label" for="form3Example4cdg">password</label>
                                    </div>

                                    <label class="lbl1"></label>

                                    <div class="d-flex justify-content-center">
                                        <button type="button"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">login</button>
                                    </div>
                                   

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script>
        const button1 = document.querySelector(".btn")
        const errorMassage = document.querySelector(".lbl1")

        function submitform(e) {
            const email = document.querySelector(".input1").value
            const password = document.querySelector(".input2").value
            var emailget = localStorage.getItem("email")
            var passget = localStorage.getItem("password")

            e.preventDefault()
            if (email === "" || password === "") {
                alert("please complete the form")
            } else {
                fetch("http://localhost:3000/login", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email, password: password })
                })
                    .then(response => response.json())
                    .then((data) => {
                        console.log(data)
                        localStorage.setItem("username", data.user.username)
                        localStorage.setItem("email", data.user.email);
                        localStorage.setItem("age",data.user.age);
                        localStorage.setItem("password", data.user.password);
                        errorMassage.innerHTML
                        setTimeout(() => {
                            window.location = "Home"

                        }, 100)

                    }).catch((e) => {
                        errorMassage.innerHTML = "Invalid Password or email"
                    })

            }

            // location.reload()
        }
        button1.addEventListener('click', submitform)


    </script>
</body>

</html>