<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARS</title>
    <style>
        .all {
            width: 100%;
            display: flex;
            flex-direction: row;

        }

        .parent {
            width: 70%;
        }

        .son {
            width: 70%;
            height: 400px;
            border: 2px solid gray;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }

        .img {
            width: 200px;
            height: 200px;
            margin-top: 15px;
            border-radius: 10px;
        }

        .name {
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
        }

        .but {
            width: 200px;
            background-color: greenyellow;
            height: 40px;
            cursor: pointer;
            border-radius: 10px;
        }

        .table1 {
            width: 25%;
            display: none;
            position: static;

        }


        td,
        th {
            border: 1px solid;

        }

        tbody tr:nth-child(even) {
            background-color: rgb(10, 171, 211);
        }

        tbody tr:nth-child(odd) {
            background-color: rgb(170, 167, 167);
        }
        .order {
            display: none;
        }
    </style>

</head>

<body>
    <div class="all">
        <div class="parent">
            <div class="son">

                <div class="details">
                    <img src="new_1431560779_597.jpg" style="font-size: 20px;" alt="" class="img"><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eius blanditiis, nostrum magni
                        <br> repellendus corrupti molestias voluptate fugiat nisi possimus saepe! Quis libero cum harum
                        possimus
                        ea vero eaque sit.
                    </p><br>
                    <label for="p">price : 200000$</label><br>
                    <button class="but" id="">Buy</button>
                </div>
                <div class="name">BME</div>

            </div>


        </div>
        <div class="table1">
            <table style="width: 200px;" class="tab">
                <thead>
                    <tr>
                        <th>carName</th>
                        <th>Price</th>

                    </tr>
                </thead>
                <tbody class="bo">


                </tbody>
            </table>
            <br>
            <input type="submit" value="Show price" class="sub">
            <label class="show" style="font-weight: bold; "></label><br>
            <label class="showName" style="color: green;"></label><br>
            <input type="submit" value="Send Order" class="order">

        </div>



    </div>

    <script>

        const sub = document.querySelector(".sub")
        const show = document.querySelector(".show")
        const tab = document.querySelector(".tab")
        const bigparent = document.querySelector(".parent")
        const sendOrder = document.querySelector(".order")
        const showName = document.querySelector(".showName")
        const showPrice = document.querySelector(".showPrice")
        fetch("http://localhost:3000/task2Details")
            .then((tasks) => tasks.json())
            .then((task) => {
                console.log(task)
                function draw() {
                    let s = task.map((item) => {
                        return `
                     <div class="son">
           
                       <div class="details">
                       <img src="${item.imageName}.jpg" style="font-size: 20px;" alt="" class="img"><br>
                        <p>${item.carDiscription}</p><br>
                        <label for="p">${item.price}</label><br>
                        <button class="but"  id="${item._id}">Buy</button>
                       </div>
                       <div class="name">${item.carName}</div>

                    </div>
                    `

                    })
                    bigparent.innerHTML = s
                }
                draw()
                const bu = document.querySelectorAll('button')
                bu.forEach(btn => {
                    btn.addEventListener('click', event => {

                        fetch("http://localhost:3000/task2Details")
                            .then((task) => task.json())
                            .then((task) => {
                                function getData() {
                                    return task.filter((e) => {
                                        return e._id == event.target.id
                                    })
                                }
                                var result = getData();
                                let price = result.map(a => a.price)
                                console.log(parseInt(price))
                                const tab = document.querySelector(".table1")
                                tab.style.display = "block"
                                let carName = result.map(a => a.carName)
                                const row = document.createElement('tr');
                                const carnameCell = document.createElement('td');
                                const tbody = document.querySelector(".bo")
                                carnameCell.innerHTML = carName
                                row.appendChild(carnameCell)
                                const priceCell = document.createElement('td');
                                priceCell.innerHTML = parseInt(price)
                                row.appendChild(priceCell)
                                tbody.appendChild(row);

                            })
                    })
                })
            })




        sub.addEventListener("click", () => {
            var sumVal = 0
            for (var i = 1; i < tab.rows.length; i++) {
                sumVal = sumVal + parseFloat(tab.rows[i].cells[1].innerHTML)
                var carnames = tab.rows[i].cells[0].innerHTML
                showName.innerHTML+=carnames+"--&&--"
            }
            show.innerHTML = sumVal
            console.log(showName.textContent)
            sendOrder.style.display="block"

        })

        sendOrder.addEventListener("click", async (e) => {

            e.preventDefault()
            const price = show.textContent
            const carName = showName.textContent

            fetch("http://localhost:3000/showCars/", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ carName: carName, price: price })
            })
                .then(response => response.json())
                .then((data) => {
                    console.log(data)
                    alert("You have done send order successfuly")
                }).catch((e) => {
                    console.log(e)
                })
        })
       
       





    </script>


</body>

</html>