<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-new-Car</title>
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
</head>
<style>
     body {
            background: linear-gradient(90deg, #252222 0%, gray 80%);
        }
</style>

<body>

    <section>
        <div class=" d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Add-new-Car</h2>

                                <form>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg"
                                            class="form-control form-control-lg inp1" />
                                        <label class="form-label" for="form3Example1cg">imageName</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg"
                                            class="form-control form-control-lg inp2" />
                                        <label class="form-label" for="form3Example1cg">carName</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg"
                                            class="form-control form-control-lg inp3" />
                                        <label class="form-label" for="form3Example1cg">carDiscription</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg"
                                            class="form-control form-control-lg inp4" />
                                        <label class="form-label" for="form3Example1cg">price</label>
                                    </div>

                                    <label class="lbl1"></label>
                                    <div class="d-flex justify-content-center">
                                        <button type="button"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Add</button>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        const button = document.querySelector(".btn")
        button.addEventListener("click",()=> {
            const imageName = document.querySelector(".inp1").value
        const carName = document.querySelector(".inp2").value
        const carDiscription = document.querySelector(".inp3").value
        const price = document.querySelector(".inp4").value
        fetch("http://localhost:3000/task2" , {
                method:"POST",
                headers: {
                    'Content-Type': 'application/json'
                    },
                body: JSON.stringify({ imageName: imageName, carName: carName, carDiscription: carDiscription, price: price })
        })
            .then(response => response.json())
            .then((task) => {
                console.log(task)
                alert("You have done added car Successfuly")
            })

        })

    </script>
</body>

</html>